# Ridge and Lasso

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
# from sklearn.datasets import fetch_california_housing
url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
from sklearn.metrics import r2_score

In [10]:
url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
boston = pd.read_csv(url)

# Match the old sklearn structure
data = boston.drop('medv', axis=1)
target = pd.DataFrame(boston['medv'], columns=['Price'])
df = pd.concat([data, target], axis=1)
df.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  Price
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98    NaN
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14    NaN
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03    NaN
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94    NaN
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33    NaN

[5 rows x 14 columns]