# Bagging vs Random Forest

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as ptl

from sklearn.datasets import make_classification
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.tree import plot_tree

In [16]:
X, y = make_classification(n_samples=200, n_features=5, n_redundant=0, n_informative=5, n_clusters_per_class=1)

In [17]:
df = pd.DataFrame(X, columns=['Col 1','Col 2','Col 3','Col4','Col 5'])
df['target']=y

In [18]:
df.head()

      Col 1     Col 2     Col 3      Col4     Col 5  target
0 -0.657305 -0.696988 -0.567541  0.045508  0.976488       0
1  0.843954  0.175159  1.810196  0.611568  0.331028       1
2  1.602074 -0.642884 -1.966608 -0.422077  1.716013       0
3  1.251789 -0.153016  2.376262  1.576814  0.237117       1
4 -1.302593  0.411912 -0.671626 -0.399737  3.252716       0

In [19]:
len(df)

200

In [ ]:
df.shape
# rows, columns

(200, 6)